---
import { marked } from "marked";
import ProcessItem from "@components/common/ProcessItem.vue";

const { title, items, style, id } = Astro.props;
---

<div class={`container-${style.container} grid `}>
  <h2 class="title-md fade-in font-bold">{title}</h2>

  <div
    class={`accordion relative py-5 surface-base-overlay fade-up`}
    id={id}
    itemtype="https://schema.org/ProcessPage"
  >
    {
      items.map((item, index) => (
        <ProcessItem
          {index}
          title={item.title}
          id={item.id}
          client:idle
          className={items.length === index + 1 ? "last" : ""}
        >
          <div class="process-grid">
            <div
              class="richtext z-20 pb-10"
              set:html={marked.parse(item.description)}
            />
          </div>
        </ProcessItem>
      ))
    }
  </div>
</div>
