---
import { Picture, Image } from "astro:assets";
import Card from "@components/card.astro";
import IntegrationImg from "@assets/integrations.svg?url";
import FeatureImgOne from "@assets/features/1.png";
import FeatureImgTwo from "@assets/features/2.png";
import FeatureImgThree from "@assets/features/3.png";
import FeatureImgFour from "@assets/features/4.png";
import FeatureImgFive from "@assets/features/5.png";
import FeatureImgSix from "@assets/features/6.png";
---

<div class="font-bold">
  <h2 class="text-2xl lg:text-3xl xl:text-5xl mt-4 [text-wrap:balance]">
    Notre expertise
  </h2>
  <p class="mt-4 [text-wrap:balance] text-xl lg:text-2xl xl:text-4xl font-bold">
    L’équipe des Matous met à disposition de ses clients <span
      class="text-matouSecondary"
      >un savoir-faire et une expertise aiguisée</span
    >
    .
  </p>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-10 mt-10">
  <Card color="indigo" size="sm">
    <Fragment slot="image">
      <Picture
        src={FeatureImgOne}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="title">Développement web</span>
    <span slot="desc">
      Des logiciels, sites web, sur mesure pour améliorer les process internes,
      lancer une nouvelle application ou automatiser des tâches.
    </span>
  </Card>

  <Card color="purple" size="sm">
    <Fragment slot="image">
      <Picture
        src={FeatureImgTwo}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="title">Data analyse </span>
    <span slot="desc">
      Exploiter le pouvoir de l’analyse de données pour en tirer des insights
      précieux, des décisions éclairées et améliorer sa performance.
    </span>
  </Card>

  <Card size="sm">
    <Fragment slot="image">
      <!-- // svg image. cannot use <picture/> as of now -->
      <Image
        src={IntegrationImg}
        alt="Feature image"
        width="909"
        height="823"
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="title">Infrastructure et réseau </span>
    <span slot="desc">
      Vous accompagner dans votre transition numérique avec des services de
      migration, de déploiement et de gestion d’infrastructure serveur et
      réseau.
    </span>
  </Card>

  <Card color="purple" size="sm">
    <Fragment slot="image">
      <Picture
        src={FeatureImgFour}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="title">Stratégie d’organisation IT </span>
    <span slot="desc">
      Définir des plans stratégiques personnalisés et recommandations
      pragmatiques. Mettre en oeuvre des solutions en soutien de vos objectifs
      business et rester compétitifs.
    </span>
  </Card>

  <Card color="purple" size="sm">
    <Fragment slot="image">
      <Picture
        src={FeatureImgFive}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="title">Maintenance, support & formation </span>
    <span slot="desc">
      Assurer un fonctionnement continu de vos systèmes informatiques.
      Accompagner vos équipes dans la prise en main des technologies utilisées
      pour gagner en efficacité et autonomie.
    </span>
  </Card>

  <Card color="purple" size="sm">
    <Fragment slot="image">
      <Picture
        src={FeatureImgThree}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>

    <span slot="title">Sécurité informatique </span>
    <span slot="desc">
      Des services de sécurité pour protéger votre entreprise contre les
      cybermenaces, assurer la confidentialité de vos informations sensibles et
      garantir la continuité de vos opérations.
    </span>
  </Card>
</div>
