---
import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";

interface Props {
  title?: string;
  description?: string;
  footerMargin?: boolean;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title, description, footerMargin = true } = Astro.props;

const makeTitle = title;
const makeDescription = description;
---

<!doctype html>
<html lang="fr" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/favicon/safari-pinned-tab.svg"
      color="#023fbb"
    />
    <meta name="msapplication-TileColor" content="#ffc40d" />
    <meta name="theme-color" content="#023FBB" />

    <link rel="stylesheet" href="/src/style/global.css" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={makeTitle}
      description={makeDescription}
      canonical={canonicalURL}
      twitter={{
        creator: "@surjithctly",
        site: "@web3templates",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: makeTitle ?? "Matou Technologies",
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Matou Technologies",
        },
      }}
    />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
      /* Remove arrows from list-style - fix for tailwindcss */
      details > summary.list-none::-webkit-details-marker,
      details > summary.list-none::marker {
        display: none;
      }
    </style>
    <ViewTransitions />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer margin={footerMargin} />
  </body>
</html>
